<div class="col-md-2" id="user_nav_partial">
  <div><%= render :partial => '/commons/login_nav' %>
  </div>
</div>
<div class="col-md-9 container">
  <!-- The rest of the page goes here -->
  <%= yield %>
</div>
