
<div id="full_user_nav">
  <div id="user_nav_top_section">
    <div class="" id="top_space_div"></div>
    <img class="circle" id="profile_picture"/>
    <h1 id="full_user_name"><%= "#{@current_user.first_name.capitalize} #{@current_user.last_name.capitalize}" %></h1>
    <div class="" id="after_username_space_div"></div>
    <ul>
      <li id="completed_total"></li>
      <li id="pending_total"></li>
      <span id="completed_total_text">completed</li>
      <span id="pending_total_text">pending</li>
    </ul>
  </div>
  <br>
  <div class="list-group">
    <a href="#" class="list-group-item">Paths</a>
    <a href="#" class="list-group-item">Courses</a>
    <a href="#" class="list-group-item active">Topics</a>
    <a href="#" class="list-group-item">Lessons</a>
  </div>
</div>
