<p id="notice"><%= notice %></p>

<p>
  <strong>Course name:</strong>
  <%= @course.course_name %>
</p>


<%= link_to 'Edit', edit_user_course_path(@course.user_id, @course) %> |
<%= link_to 'Back', user_courses_path %>
