div.col-md-12 #user_nav_partial {
  background-color: #26295D;
}

#full_login_nav {
  height: 96vh;
  text-align: center;
}

#login_nav_top_section {
  height: 40vh;
}

#top_space_div {
  height: 10vh;
}

#after_logo {
  height: 6vh;
}

.list-group .list-group-item {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

ul.form-group li input {
  border-radius: 0px;
}

#full_login_nav {
  background-color: #26295D;
}

#submit_button .btn-default {
  color: #828282;
  background-color: #fff;
  border: 0px;
}

li .form-control {
  border: 0px;
}
