
#full_login_nav {
  height: 100vh;
  text-align: center;
}

#login_nav_top_section {
  height: 40vh;
}

#top_space_div {
  height: 10vh;
}

#after_logo {
  height: 6vh;
}

.list-group .list-group-item {
  font-family: open sans;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

ul.form-group li input {
  border-radius: 0px;
}

#full_login_nav {
  background-color: #191E63;
}

#submit_button .btn-default {
  color: #555;
  background-color: #fff;
  border: 0px;
  font-family: open sans;
}

li .form-control {
  border: 0px;
}

.form-control {
  font-family: rajdhani;
}
