#user_nav_partial {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #DBDBDB;
  height: 100vh;
  text-align: center;
  position: fixed;
 }

div.col-md-2 #user_nav_partial {

}

#full_user_nav {
  height: 96vh;
  text-align: center;
  background-color: #DBDBDB;
}

#user_nav_top_section {
  height: 55vh;
}

#top_space_div {
  height: 10vh;
}

.profile_pic{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

#full_user_name {
  font-size: 19px;
  font-family: open sans;

  color: #6D6B6B;
}

#after_username_space_div {
  height: 6vh;
}

#completed_total{
  background-image: url("lightOn.png");
  border-radius: 50%;
  background-color: #cccccc;
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 3vw;
  font-color: #ccc;
  font-family: rajdhani;
  background-size: cover;
}

#pending_total{
  background-image: url("micGray.png");
  border-radius: 50%;
  background-color: #cccccc;
  height: 50px;
  width: 50px;
  float: right;
  margin-right: 3vw;
  font-color: #ccc;
  font-family: rajdhani;
  background-size: cover;
}


#completed_total_text {

  padding-top: 5vw;
}

#pending_total_text {
  padding-top: 5vw;
}

.list-group .list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.list-group .list-group-item:last-child {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

div .list-group-item {
  background-color: #DBDBDB;
  border: 0px;
  color: #4D4D4D;
}


div .list-group-item .non-underline:hover {
  text-decoration: none !important;
}

div .list-group-item:hover {
  -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  background-color: #E0E0E0;
}

input.btn {
  border-radius: 0px;
}

div.col-md-12 #universal_container {
  padding-right: 0px;
  padding-left: 0px;
  height: 100vh;
}

#user_nav_partial {
  background-color: #DBDBDB;
  font-family: open sans;
}

div.col-md-9 #available_lessons:hover {
  -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
}
