// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#lessons_data_container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #EFEFEF;
  height: 100vh;
  text-align: center;

}

#space_above_first_course_bubble {
  height: 10vh;
}

div .progress_block {
  display: flex;
  align-items: center;
  padding-bottom: 0vh;
  background-color: #FAFAFA;
  height: 54px;

  padding-left: 2px;
  margin-bottom: 20px;
}

div .progress_circle {
  border: 2px solid #FAFAFA;
  background-color: #A8A8A8;
  display: flex;
  align-items: center;
  height: 54px;
  width: 54px;
  padding-left: 2px;
  margin-right: 199px;
  margin-bottom: 20px;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
}



.progress_block .progress {
  margin-bottom: 0px;
  border-radius: 0px;
}

div .progress {
  height: 10px;
  padding-left: 0vw;
}

div .progress_block .w3-hover-shadow {
  background-color: #616161 !important;
}

#nav_lessons{
  display: inline-block;
  // margin-left: 10vw;
}

.a_l_links{

}

.lesson_circle{
  border-radius: 50%;
  background: #A8A8A8;
  height: 100px;
  width: 100px;
  float: left;
  margin-left: 5vw;
}

.lessons{
  padding-top: 3vw;
  padding-right: 2vw;
  padding-left: 1vw;
  float: left;
}

#video_boxes{

}

.video_box1{
  border: 6px solid gray;
  background-color: black;
  border-radius: 5%;
  height:20vw;
  width: 30vw;
  float: left;
  margin-left: 5vw;
  margin-top: 7vw;
}

.video_box2{
  border: 4px solid gray;
  background-color: black;
  height:20vw;
  width: 30vw;
  float: left;
  margin-left: 5vw;
  margin-top: 7vw;
  clear: right;
}

#video_nav1{
  display: inline-block;
  width: auto;
}

.v_nav{
  // display: inline-block;
  float: left;
  margin-top: 1vw;
  margin-left: 9vw;
}

.v_nav2{
  // display: inline-block;
  float: left;
  margin-top: 1vw;
  margin-left: 18vw;
  clear: right;
}



.v_n_circle{
  border-radius: 50%;
  background: #A8A8A8;
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 5vw;
}

.script{
  border-top: 4px solid gray;
  border-bottom: 4px solid gray;
  height:20vw;
  width: 30vw;
  float: left;
  clear: right;
  margin-left: auto;
  margin-right: auto;
  margin-left: 22vw;
  margin-top: 7vw;
  font-size: 20px;
  color: black;
  text-align: center;
}

#script_nav{
  display: inline-block;
}

.s_nav{
  // display: inline-block;
  float: left;
  margin-top: 1vw;
  margin-left: 26vw;
  clear: right;
}


.s_n_circle{
  border-radius: 50%;
  background: #A8A8A8;
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 5vw;
}

div #publisher {
  height: 20vw;
  width: 30vw;
}

#course_name{
  text-align: center;
}

#progress_bar{
  margin-left: 50px;
  width: 50%;
}
