// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#universal_container {
 padding-left: 0px;
 padding-right: 0px;
 height: 100vh;
 background-color: #F5F5F5;
}

#lessons_data_container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #EFEFEF;
  height: 100vh;
  text-align: center;
}

div#space_above_first_lesson_bubble {
  height: 10vh;
}


div.progress_circle {
  border: 2px solid #FAFAFA;
  background-color: #A8A8A8;
  display: flex;
  align-items: center;
  height: 54px;
  width: 54px;
  padding-left: 2px;
  margin-right: 0px;
  margin-bottom: 20px;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
  margin-top: 20px;
}


.script{
  font-family: open sans;
  border-top: 2px solid #A8A8A8;
  border-bottom: 2px solid #A8A8A8;
  height: 12vw;
  width: 30vw;
  clear: right;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-size: 16px;
  color: #363636;
  text-align: center;
}

div #publisher {
  width: 500px;
  height: 225px;
}

#course_name{
  text-align: center;
  font-family: open sans;
  color: #6D6B6B;
}

#progress_bar{
  margin-left: 50px;
  width: 50%;
}

div.col-md-10 .col-md-offset-2 #lesson_screen_section {
  height: 90vh;
}

div.progress_block:hover {
  -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
}

.embed-container {
  position: relative;
  height: 205px;
  overflow: none;
  width: 100%;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
  padding-left: 4vw;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  width: 400px;
  height: 225px;
}

.video-resize {
  height: 225px;
  width: 400px !important;
  overflow: hidden;
  height: 230px;
  margin-bottom: 7PX;
}

div#buttons {
  text-align: center;
  padding-left: 0px;
  padding-right: 17px;
}

div#buttons .btn-info {
  color: #fff;
  background:rgba(0,0,0,0);
  border: 0px;
  border-radius: 0px;
}

div#buttons .btn-info:hover {
  -webkit-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  -moz-box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  box-shadow: 10px 11px 30px -16px rgba(0,0,0,0.65);
  background-color: #E0E0E0;
}

div#buttons .btn {
  padding: 3px 5px;
}

ul.nav>li>a {
  border-radius: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: rajdhani;
}

.btn .btn-default #submit_button {
  color: #666;
}


.title {
  font-family: rajdhani;
  text-align: center;
}

.script p {
  margin-top: 2vh;
}

.text_box_section {
  margin-top: 10vh;
}
