// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#universal_container {
 padding-left: 0px;
 padding-right: 0px;
 height: 100vh;
}

#lessons_data_container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #EFEFEF;
  height: 100vh;
  text-align: center;

}

div#space_above_first_lesson_bubble {
  height: 10vh;
}


div .progress_circle {
  border: 2px solid #FAFAFA;
  background-color: #A8A8A8;
  display: flex;
  align-items: center;
  height: 54px;
  width: 54px;
  padding-left: 2px;
  margin-right: 0px;
  margin-bottom: 20px;
  border-bottom-left-radius: 32px;
  border-top-left-radius: 32px;
  border-bottom-right-radius: 32px;
  border-top-right-radius: 32px;
}


.script{
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  height: 20vw;
  width: 30vw;
  float: left;
  clear: right;
  margin-left: auto;
  margin-right: auto;
  margin-left: 22vw;
  margin-top: 2vw;
  font-size: 20px;
  color: black;
  text-align: center;
}




div #publisher {
  width: 500px;
  height: 225px;
}

#course_name{
  text-align: center;
}

#progress_bar{
  margin-left: 50px;
  width: 50%;
}

div.col-md-9.col-md-offset-3#lesson_screen_section {
  padding-left: 0px;
  height: 90vh;
}

.embed-container {
  position: relative;
  height: 205px;
  overflow: none;
  width: 100%;
  height: auto;
  padding-right: 0px;
  padding-left: 0px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  width: 400px;
  height: 225px;
}



.video-resize {
  height: 225px;
  width: 400px !important;
  overflow: hidden;
  height: 230px;
  margin-bottom: 7PX;
}

div#buttons {
  text-align: center;
  padding-left: 0px;
  padding-right: 17px;
}

div#buttons .btn-info {
  color: #fff;
  background-color: #A8A8A8;
  border: 0px;
  border-radius: 0px;
}
